* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-size: 16px;
    font-family: 'Circe', sans-serif;
}
button {
    cursor: pointer;
}
.page__container {
    padding: 0 60px;
}
/* HEADER */
.header {
    display: flex;
    padding-top: 80px;
    padding-bottom: 75px;
    height: 100%;
    width: 100%;
}
.header__logo {
    display: block;
    height: 67px;
    width: 267px;
}
.header__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
}
.header__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    width: 40%;
}
.header__contacts {
    display: flex;
}
.header__contacts img {
    width: 100px;
    margin-right: 20px;
}
.contacts__links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-right: 20px;
}
.contacts__links a {
    color: #00ffc0;
}
.page__navigation {
    position: absolute;
    right: 0;
    top: 25%;
    right: 100px;
    border-right: 1px solid #fff;
    z-index: 2;
}
.main section.page1 h1 {
    text-align: left;
    padding: 0;
    margin-bottom: 50px;
    font-size: 66px;
    color: white;
    font-weight: 600;
}
.main-menu {
    border-right: 1px solid #fff;
}
.main-menu li a {
    color: #fff;
}
.main-menu li a:hover {
    color: #00ffc0;
}
.main-menu li a.active {
    color: #00ffc0;
    font-weight: 600;
}
.callme-btn {
    margin-bottom: 10px;
    z-index: 2;
    font-size: 25px;
    width: auto;
    padding: 5px 15px;
}
.callme-btn:hover {
    color: #fff;
}
.page1__sloy {
    position: absolute;
    right: 0;
    top: 0;
    width: 40%;
    z-index: 9;
    opacity: 0.7;
}
/* END:HEADER */

/* page2 */
.main section.page2, .main section.page5 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 5px solid #f7f7f9;
    transition: all .5s linear;
}
.page2__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    z-index: -1;
    transition: all .3s ease-in-out;
}
.page2__bg.active {
    transform: translateX(0);
    z-index: 0;
}
.page2__bg.noactive {
    transform: translateX(-100%);
    z-index: -1;
}
.page2__bg img {
    object-fit: fill;
    width: 100%;
    height: 100%;
    object-position: center;
}
.page2__text, .page5__text {
    width: 55%;
    min-width: 500px;
    margin-right: 60px;
    color: #fff;
    text-align: right;
    padding: 15px 28px;
    border-right: 1px solid #fff;
    font-size: 32px;
    transition: all 0.3s linear;
    transform: translateX(0);
}
.page2__text.hide, .page5__text.hide {
    transform: translateX(110%);
}
.page2__text h3, .page5__text h3 {
    font-size: 50px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 40px;
}
.page2__text p, .page5__text p {
    margin-bottom: 40px;
    font-size: 20px;
}
.page2__text p:last-child, .page5__text p:last-child {
    margin: 0;
    padding: 0;
    line-height: 1;
}
.page2__bottom {
    position: relative;
    display: flex;
    justify-content: space-between;
    color: #fff;
    z-index: 1;
    width: 100%;
}
.page2__bottom::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 0;
}
.page2__material {
    position: relative;
    padding: 50px 20px 50px 60px;
    text-align: left;
    z-index: 1;
}
.main section.page2 .page2__material h2, .main section.page5 .page2__material h2 {
    font-weight: 400;
    font-size: 52px;
    text-align: left;
    line-height: 1;
}
.main section.page2 .page2__material span, .main section.page5 .page2__material span {
    font-size: 42px;
    line-height: 1;
}
.page2__variants {
    display: flex;
    height: inherit;
}
.page2__variant {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 176px;
    height: inherit;
    margin-right: -53px;
    cursor: pointer;
}
.page2__variant::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: 0;
    clip-path: polygon(0 0, 70% 0, 100% 100%, 30% 100%);
    transition: all .3s linear;
}
.page2__variant:first-child::before {
    background-color: #282828;
}
.page2__variant:nth-child(2)::before {
    background-color: #232223;
}
.page2__variant:nth-child(3)::before {
    background-color: transparent;
}
.page2__variant:nth-child(4)::before {
    background-color: #272727;
}
.page2__variant:nth-child(5)::before {
    background-color: #282828;
}
.page2__variant:nth-child(6)::before {
    background-color: #232323;
}
.page2__variant:nth-child(7)::before {
    background-color: transparent;
}
.page2__variant:last-child::before {
    background-color: #272727;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
}
.page2__variant:hover::before,
.page2__variant.active::before {
    transform: scale(1.05);
    background-color: #327562;
    z-index: 10;
}
.page2__variant:last-child {
    margin-right: 0;
}
.page2__variant_name {
    font-size: 24px;
    z-index: 11;
}
.page2__text__wrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}
/* END:page2 */

.page3::before, .page4::before, .page6::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.8;
    z-index: 0;
}

/* page3 */
.main section.page3 {
    position: relative;
    background-image: url(../images/mramor.png);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    z-index: 2;
}
.main section.page3 h2 {
    color: #fff;
    z-index: 1;
    font-weight: 500;
    font-size: 50px;
    text-align: center;
    line-height: 1;
}
.page__variants {
    position: relative;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1373px;
    width: 100%;
    z-index: 1;
    margin-bottom: 0;
}
.page__variant {
    width: calc((100% - 100px) / 3);
    list-style-type: none;
    margin-bottom: 40px;
    cursor: pointer;
}
.page__variant img {
    height: auto;
    width: 100%;
    max-height: 258px;
    box-shadow: 0px 2px 14px 3px rgba(0,0,0,0.75);
}
.page__variant:hover .variant__name,
.page__variant.active .variant__name {
    color: #14edaf;
}
.variant__name {
    font-size: 40px;
    font-weight: 300;
    text-align: left;
    line-height: 1;
    margin-top: 30px;
    transition: all 0.3s linear;
}
/* END:page3 */

/* page4 */
.page4 {
    position: relative;
    background-image: url(../images/fon3.png);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.page4 h2 {
    position: relative;
    font-weight: 500;
    font-size: 66px;
    color: rgba(255, 255, 255, 255);
    text-align: right;
    z-index: 1;
    line-height: 1;
    margin-bottom: 120px;
    width: 1200px;
}
.deadlines {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1200px;
	padding: 50px 0;
}
.deadlines__item {
    position: relative;
    width: 400px;
    height: 225px;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-between;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;
    color: #fff;
    padding-left: 6%;
}
.deadlines__item:nth-child(2n) {
    width: 470px;
}
.deadlines__item:first-child {
    margin-bottom: 90px;
    background-image: url(../images/1.png);
}
.deadlines__item:nth-child(2) {
    margin-bottom: 90px;
    background-image: url(../images/2.png);
}
.deadlines__item:nth-child(3) {
    background-image: url(../images/3.png);
}
.deadlines__item:last-child {
    background-image: url(../images/4.png);
}
.deadlines__item img {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
}
.deadlines__title {
    font-size: 75px;
    margin-top: -42px;
    text-align: left;
    line-height: 1;
}
.deadlines__text {
    text-align: left;
    padding-bottom: 35px;
    font-size: 30px;
    font-size: 28px;
    line-height: 1.2;
}
/* END:page4 */

/* page5 */
.page5 {
    position: relative;
    background-image: url(../images/mramor.png);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    z-index: 2;
}
.page5 h2 {
    color: #fff;
    z-index: 1;
    font-weight: 500;
    font-size: 50px;
    text-align: center;
    line-height: 1;
}
/* END:page5 */

/* page6 */
.main section.page6 {
    justify-content: space-between;
    background-image: url(../images/fon2.png);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .5s linear;
}
.page6 {
	display: flex;
    padding-top: 80px;
    padding-bottom: 75px;
    height: 100%;
    width: 100%;
}
.page6__variants {
	display: flex;
	flex-direction: column;
	align-items: baseline;
	justify-content: center;
	color: #fff;
	z-index: 1;
	padding-left: 150px;
	width: 40%;
}
.page6 ol{
	counter-reset: myCounter;
	padding: 40px 0;
	width: auto;
}
.page6__variants li{
  list-style: none;
  display: flex;
}
.page6__variants li:before {
	counter-increment: myCounter;
	content:counter(myCounter);
	color: #14eeb9;
    display: block;
    text-align: center;
    margin: 20px;
    float: left;
    font-size: 50px;
    line-height: 47px;
	width: 30px
}
.page6__variant {
	text-align: left;
}
.page6__variant div{
	padding: 10px;
	float: left;
}
.page6__variant h3 {
    font-size: 50px;
    font-weight: 600;
    line-height: 1;
	color: #fff;
}
.page6__variant p {
	color: #fff;
}
.page6__text__wrap {
	display: flex;
	flex-direction: column;
	/* align-items: flex-end; */
	justify-content: center;
	width: 100%;
	color: #fff;
	z-index: 1;
}
.page6__text {
    min-width: 500px;
    /* margin-right: 60px; */
    color: #fff;
    text-align: left;
    padding: 15px 200px;
    /*border-right: 1px solid #fff;*/
    font-size: 32px;
    transition: all 0.3s linear;
    transform: translateX(0);
}
.page6__text h3 {
    font-size: 50px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 100px;
    text-align: right;
}
.page6__text p {
    padding: 0;
    font-size: 18px;
}
.page6__text .title {
	text-align: center;
	font-size: 28px;
	width: 65%;
	margin: 50px auto;
}
.page6__text .awards{
	text-align: center;
}
.page6__text .awards img{
	width: calc((100% - 100px) / 6);
    padding: 20px;
}
.main section.page7 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-image: url(../images/fon2.png);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .5s linear;
}
.page7__contacts {
	display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    color: #fff;
    z-index: 1;
    padding-left: 150px;
    width: 40%;
}
.page7__text {
	min-width: 500px;
    color: #fff;
    text-align: left;
    padding: 30px 0;
    font-size: 32px;
    transition: all 0.3s linear;
    transform: translateX(0);
}
.page7__text h3 {
    font-size: 50px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 100px;
}
.page7__text__wrap{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 60%;
	padding-right: 150px;
	z-index: 1;
}
.balloon {
    line-height: 150%;
    font-size: 14px;
}
.balloon a{
	color: #000;
}
/* popup */
body.popup-on {
    overflow: hidden;
}
body.popup-on .popup-bg,
body.popup-on .popup {
    opacity: 1;
    z-index: 999;
}
body.popup-on .popup-bg {
    opacity: 0.4;
    z-index: 998;
}
.popup-bg {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #000000;
    opacity: 0;
    z-index: -1;
    transition: all 0.5s linear;
}
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 320px;
    background-color: #262626;
    z-index: 999;
    color: #fff;
    overflow: hidden;
    opacity: 0;
    border: 1px solid #ffffff;
    border-radius: 4px;
    z-index: -1;
    transition: all 0.5s linear;
}
.popup__close-btn {
    position: absolute;
    top: 2px;
    right: 0;
    height: 30px;
    width: 30px;
    line-height: 30px;
    color: #fff;
    font-size: 30px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    outline: none;
    transition: all .3s linear;
}
.popup__close-btn:hover {
    color: rgb(206, 206, 206);
}
.popup__close-btn:focus {
    outline: none;
}
.popup__head {
    padding: 20px;
    color: #fff;
    border-bottom: 1px solid #fff;
    font-weight: 500;
}
.popup__form {
    padding: 20px;
}
.popup__submit {
    position: relative;
    outline: none;
    width: 100%;
    margin-top: 20px;
    cursor: pointer;
}
.popup__control {
    position: relative;
    margin-bottom: 20px;
}
.popup__control input {
    position: relative;
    width: 100%;
    height: 45px;
    color: #ffffff!important;
    background-color: transparent!important;
    border: 0;
    border-bottom: 1px solid #fff;
    outline: none!important;
    padding: 20px 0 10px 0;
    z-index: 1;
}
.popup__label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: #fff;
    text-align: left;
    transition: all .2s linear;
    font-size: 18px;
    z-index: 0;
}
.popup__control.focus .popup__label {
    color: #8b8b8b;
    font-size: 14px;
    top: 0;
    transform: translateY(0%);
}
.popup__control:last-child::before {
    position: absolute;
    top: -40px;
    left: 0;
    width: 300%;
    height: 1px;
    background-color: #fff;
}
/* END:popup */

.onepage-pagination li a:before {
    background-color: #00ffc0;
}
.onepage-pagination li a.active:before {
    border: 1px solid #00ffc0;
}