* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-size: 16px;
    font-family: 'Circe', sans-serif;
}
button {
    cursor: pointer;
}
textarea,
input[type="text"],
input[type="button"],
input[type="submit"] {
    -webkit-appearance: none;
    border-radius: 0;
}
.page__container {
    padding: 0 60px;
}
/* HEADER */
.header {
    display: flex;
    padding-top: 80px;
    padding-bottom: 75px;
    height: 100%;
    width: 100%;
}
.header__logo {
	display: block;
	text-align: left;
}
.header__logo img {
	max-width: 100%;
	width: 190px;
}
.page8__text__wrap div a {
	padding: 5px;
}
.header__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
}
.header__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    width: 40%;
}
.header__contacts {
    display: flex;
}
.header__contacts img {
    height: 49px;
    margin-right: 20px;
}
.contacts__links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 20px;
	text-align: right;
}
.contacts__links a {
    color: #0bbbbe;
}
.page__navigation {
    position: absolute;
    right: 0;
    top: 25%;
    right: 100px;
    border-right: 1px solid #fff;
    z-index: 2;
}
.main section.page1 h1 {
    text-align: left;
    padding: 0;
    margin-bottom: 50px;
    font-size: 66px;
    color: white;
    font-weight: 600;
}
.main-menu {
    border-right: 1px solid #fff;
}
.main-menu li a {
    color: #fff;
}
.main-menu li a:hover {
    color: #0bbbbe;
}
.main-menu li a.active {
    color: #0bbbbe;
    font-weight: 600;
}
.callme-btn {
    margin-bottom: 10px;
    z-index: 2;
    font-size: 25px;
    width: auto;
    padding: 5px 15px;
}
.callme-btn:hover {
    color: #fff;
}
.page1__sloy {
    position: absolute;
    right: 0;
    top: 0;
    width: 40%;
    z-index: 9;
    opacity: 0.7;
    user-select: none;
}
/* END:HEADER */

/* page2 */
.main section.page2, .main section.page6 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 5px solid #f7f7f9;
    transition: all .5s linear;
}
.page2__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    transition: transform 0.6s ease;
    overflow: hidden;
    user-select: none;
}
.bg__img {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.bg__img img {
    position: relative;
    width: 100%;
    height: auto;
}
.page2__text, .page6__text {
    width: 100%;
    max-width: 500px;
    margin-right: 60px;
    color: #fff;
    text-align: right;
    padding: 15px 28px;
    border-right: 1px solid #fff;
    font-size: 32px;
    transition: all 0.3s linear;
    transform: translateX(0);
}
.page2__text.hide, .page6__text.hide {
    transform: translateX(110%);
}
.page2__text h3, .page6__text h3 {
    font-size: 50px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 40px;
}
.page2__text p, .page6__text p {
    margin-bottom: 40px;
    font-size: 20px;
}
.page2__text p:last-child, .page6__text p:last-child {
    margin: 0;
    padding: 0;
    line-height: 1;
}
.page2__bottom {
    position: relative;
    display: flex;
    justify-content: space-between;
    color: #fff;
    z-index: 2;
    width: 100%;
}
.page2__bottom::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 0;
}
.page2__material {
    position: relative;
    padding: 50px 20px 50px 60px;
    text-align: left;
    z-index: 1;
}
.main section.page2 .page2__material h2, .main section.page6 .page2__material h2 {
    font-weight: 400;
    font-size: 52px;
    text-align: left;
    line-height: 1;
}
.main section.page2 .page2__material span, .main section.page6 .page2__material span {
    font-size: 42px;
    line-height: 1;
}
.page2__variants {
    display: flex;
    height: inherit;
}
.page2__variant {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 176px;
    height: inherit;
    margin-right: -53px;
    cursor: pointer;
    user-select: none;
}
.page2__variant::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: 0;
    clip-path: polygon(0 0, 70% 0, 100% 100%, 30% 100%);
    transition: all .3s linear;
}
.page2__variant:first-child::before {
    background-color: #282828;
}
.page2__variant:nth-child(2)::before {
    background-color: #232223;
}
.page2__variant:nth-child(3)::before {
    background-color: transparent;
}
.page2__variant:nth-child(4)::before {
    background-color: #272727;
}
.page2__variant:nth-child(5)::before {
    background-color: #282828;
}
.page2__variant:nth-child(6)::before {
    background-color: #232323;
}
.page2__variant:nth-child(7)::before {
    background-color: transparent;
}
.page2__variant:last-child::before {
    background-color: #272727;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
}
.page2__variant:hover::before,
.page2__variant.active::before {
    transform: scale(1.05);
    background-color: #0bbbbe;
    z-index: 10;
}
.page2__variant:last-child {
    margin-right: 0;
}
.page2__variant_name {
    font-size: 24px;
    z-index: 11;
}
.page2__text__wrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    z-index: 2;
}
/* END:page2 */

.page3::before, .page5::before, .page7::before, .page4::before, .page8::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.8;
    z-index: 0;
}

/* page3 */
.main section.page3 {
    position: relative;
    background-image: url(../images/mramor.png);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    z-index: 2;
    padding: 50px 10%;
}
.main section.page3 h2 {
    color: #fff;
    z-index: 1;
    font-weight: 600;
    font-size: 45px;
    text-align: center;
    line-height: 1;
}
.page__variants {
    position: relative;
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1373px;
    width: 100%;
    z-index: 1;
    margin-bottom: 0;
}
.page__variant {
    width: calc((100% - 100px) / 3);
    list-style-type: none;
    margin-bottom: 40px;
    cursor: pointer;
}
.page__variant img {
    height: auto;
    width: 100%;
    max-width: 100%;
    max-height: 258px;
    box-shadow: 0px 2px 14px 3px rgba(0,0,0,0.75);
}
.page__variant:hover .variant__name,
.page__variant.active .variant__name {
    color: #14edaf;
}
.variant__name {
    font-size: 40px;
    font-weight: 300;
    text-align: left;
    line-height: 1;
    margin-top: 30px;
    transition: all 0.3s linear;
}
/* END:page3 */

/* page5 */
.page5 {
    position: relative;
    background-image: url(../images/proizv.jpg);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.page5 h2 {
    position: relative;
    font-weight: 600;
    font-size: 45px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    z-index: 1;
    line-height: 1;
    margin-bottom: 120px;
    width: 1200px;
}
.deadlines {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1200px;
	padding: 50px 0;
}
.deadlines__item {
    position: relative;
    width: 400px;
    height: 225px;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-between;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;
    color: #fff;
    padding-left: 6%;
}
.deadlines__item:nth-child(2n) {
    width: 470px;
}
.deadlines__item:first-child {
    margin-bottom: 90px;
    background-image: url(../images/1.png);
}
.deadlines__item:nth-child(2) {
    margin-bottom: 90px;
    background-image: url(../images/2.png);
}
.deadlines__item:nth-child(3) {
    background-image: url(../images/3.png);
}
.deadlines__item:last-child {
    background-image: url(../images/4.png);
}
.deadlines__item img {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
}
.deadlines__title {
    font-size: 75px;
    margin-top: -42px;
    text-align: left;
    line-height: 1;
}
.deadlines__text {
    text-align: left;
    padding-bottom: 35px;
    font-size: 30px;
    font-size: 28px;
    line-height: 1.2;
}
/* END:page5 */

/* page6 */
.page6 {
    position: relative;
    /* background-image: url(../images/mramor.png);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    z-index: 2;
}
.page6 h2 {
    color: #fff;
    z-index: 1;
    font-weight: 500;
    font-size: 50px;
    text-align: center;
    line-height: 1;
}
.page6__bg {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: auto;
    height: 100%;
    transform: translateX(0);
    transition: all .3s ease-in-out;
    user-select: none;
}
/* END:page6 */

/* page7 */
.main section.page7 {
    justify-content: space-between;
    background-image: url(../images/pg7.jpg);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .5s linear;
}
.main section.page4 {
    justify-content: space-between;
    background-image: url(../images/techno.jpg);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .5s linear;
}
.page7,.page4 {
	display: flex;
    padding-top: 80px;
    padding-bottom: 75px;
    height: 100%;
    width: 100%;
}
.page7__variants {
	display: flex;
	flex-direction: column;
	align-items: baseline;
	justify-content: center;
	color: #fff;
	z-index: 1;
	padding-left: 150px;
	width: 40%;
}
.page7 ol, .page4 ol{
	counter-reset: myCounter;
	padding: 40px 0;
	width: auto;
}
.page7__variants li{
  list-style: none;
  display: flex;
}
.page7__variants li:before {
	counter-increment: myCounter;
	content:counter(myCounter);
	color: #0bbbbe;
    display: block;
    text-align: center;
    margin: 20px;
    float: left;
    font-size: 50px;
    line-height: 47px;
	width: 30px
}
.page7__variant {
	text-align: left;
}
.page7__variant div{
	padding: 10px;
	float: left;
}
.page7__variant h3 {
    font-size: 50px;
    font-weight: 600;
    line-height: 1;
	color: #fff;
}
.page7__variant p {
	color: #fff;
}
.page7__text__wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	color: #fff;
	z-index: 1;
}
.page7__text {
    min-width: 500px;
    /* margin-right: 60px; */
    color: #fff;
    text-align: left;
    padding: 15px 200px;
    /*border-right: 1px solid #fff;*/
    font-size: 32px;
    transition: all 0.3s linear;
    transform: translateX(0);
}
.page7__text h3 {
    font-size: 45px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 50px;
    text-align: center;
}
.page7__text p {
    padding: 0;
    font-size: 18px;
    margin-bottom: 0.5rem;
}
.page7__text li {
    padding: 0;
    font-size: 20px;
    margin-bottom: 0.5rem;
}
.page7__text .title {
	text-align: center;
	font-size: 28px;
	width: 65%;
	margin: 40px auto;
}
.page7__text .awards{
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.page7__text .awards img{
	/*width: calc((100% - 100px) / 6);*/
	/* padding: 20px; */
	height: 50%;
	margin-bottom: 10px;
}
.page7__text .awards div {
	display: inline-block;
	text-align: center;
	width: calc(100% / 6);
}
.page7__text .awards span {
	display: block;
	font-size: 14px;
    text-align: center
}
.main section.page8 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-image: url(../images/ph.jpg);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .5s linear;
}
.page8__contacts {
	display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    color: #fff;
    z-index: 1;
    padding-left: 150px;
    width: 40%;
}
.page8__text {
    color: #fff;
    text-align: left;
    padding: 30px 0;
    font-size: 32px;
    transition: all 0.3s linear;
    transform: translateX(0);
}
.page8__text p{
	margin-top: 2rem;
	margin-bottom: 0;
}
.page8__text h3 {
    font-size: 40px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 20px;
}
.page8__text__wrap{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 60%;
	padding: 0 150px;
	z-index: 1;
}
.page7__text .awards2 {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.page7__text .awards2 img {
    max-width: 80%;
    padding: 20px;
}
.page7__text .awards2 div {
    display: inline-block;
    text-align: center;
    /* width: calc((100% - 100px) / 3); */
    width: calc(100% / 3);
}
.balloon {
    line-height: 150%;
    font-size: 14px;
}
.balloon a{
	color: #000;
}
/* popup */
body.popup-on1 {
    overflow: hidden;
}
body.popup-on1 .popup-bg,
body.popup-on1 #popup1 {
    opacity: 1;
    z-index: 999;
}
body.popup-on1 .popup-bg {
    opacity: 0.4;
    z-index: 998;
}

body.popup-on2 {
    overflow: hidden;
}
body.popup-on2 .popup-bg,
body.popup-on2 #popup2 {
    opacity: 1;
    z-index: 999;
}
body.popup-on2 .popup-bg {
    opacity: 0.4;
    z-index: 998;
}

.popup-bg {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #000000;
    opacity: 0;
    z-index: -1;
    transition: all 0.5s linear;
}
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 320px;
    background-color: #262626;
    z-index: 999;
    color: #fff;
    overflow: hidden;
    opacity: 0;
    border: 1px solid #ffffff;
    border-radius: 4px;
    z-index: -1;
    transition: all 0.5s linear;
}
.popup__close-btn {
    position: absolute;
    top: 2px;
    right: 0;
    height: 30px;
    width: 30px;
    line-height: 30px;
    color: #fff;
    font-size: 30px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    outline: none;
    transition: all .3s linear;
}
.popup__close-btn:hover {
    color: rgb(206, 206, 206);
}
.popup__close-btn:focus {
    outline: none;
}
.popup__head {
    padding: 20px;
    color: #fff;
    border-bottom: 1px solid #fff;
    font-weight: 500;
}
.popup__form {
    padding: 20px;
}
.popup__submit {
    position: relative;
    outline: none;
    width: 100%;
    margin-top: 20px;
    cursor: pointer;
}
.popup__control {
    position: relative;
    margin-bottom: 20px;
}
.popup__control input {
    position: relative;
    width: 100%;
    height: 45px;
    color: #ffffff!important;
    background-color: transparent!important;
    border: 0;
    border-bottom: 1px solid #fff;
    outline: none!important;
    padding: 20px 0 10px 0;
    z-index: 1;
}
.popup__label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: #fff;
    text-align: left;
    transition: all .2s linear;
    font-size: 18px;
    z-index: 0;
}
.popup__control.focus .popup__label {
    color: #8b8b8b;
    font-size: 14px;
    top: 0;
    transform: translateY(0%);
}
.popup__control:last-child::before {
    position: absolute;
    top: -40px;
    left: 0;
    width: 300%;
    height: 1px;
    background-color: #fff;
}
/* END:popup */

.onepage-pagination li a:before {
    background-color: #0bbbbe;
}
.onepage-pagination li a.active:before {
    border: 1px solid #0bbbbe;
}
.page5 .btn{
	margin-top: 50px;
}



/* SOCIAL */
.btn:hover {
    color: #ffffff;
}
.social-btns * {
    margin: 0;
    padding: 0;
    font-size: inherit;
    color: inherit;
    box-sizing: inherit;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
}
.social-btns .btn,
.social-btns .btn:before,
.social-btns .btn .fa {
	transition: all 0.35s;
	transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}

.social-btns .btn:before {
	top: 90%;
	left: -110%;
}

.social-btns .btn .fa {
	transform: scale(0.8);
}

.social-btns .btn.facebook:before {
	background-color: #3b5998;
}

.social-btns .btn.facebook .fa {
	color: #3b5998;
}

.social-btns .btn.twitter:before {
	background-color: #3cf;
}

.social-btns .btn.twitter .fa {
	color: #3cf;
}

.social-btns .btn.youtube:before {
	background-color: #dc4a38;
}

.social-btns .btn.youtube .fa {
	color: #dc4a38;
}

.social-btns .btn.instagram:before {
	background-color: #0bbbbe;
}

.social-btns .btn.instagram .fa {
	color: #0bbbbe;
}

.social-btns .btn.skype:before {
	background-color: #00aff0;
}

.social-btns .btn.skype .fa {
	color: #00aff0;
}

.social-btns .btn:focus:before,
.social-btns .btn:hover:before {
	top: -10%;
	left: -10%;
}

.social-btns .btn:focus .fa,
.social-btns .btn:hover .fa {
	color: #fff;
	transform: scale(1);
}

.social-btns {
	height: 50px;
	margin: auto;
	font-size: 0;
	text-align: center;
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.social-btns .btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
	background-color: #fff;
	width: 50px;
	height: 50px;
	line-height: 50px;
	margin: 0 10px;
	text-align: center;
	position: relative;
	overflow: hidden;
	border-radius: 28%;
	box-shadow: 0 5px 15px -5px rgba(0,0,0,0.1);
    opacity: 0.99;
    border: 0;
    padding: 0;
}

.social-btns .btn:before {
	content: '';
	width: 120%;
	height: 120%;
	position: absolute;
	transform: rotate(45deg);
}

.social-btns .btn .fa {
	font-size: 36px;
	vertical-align: middle;
}