@media (max-width: 2000px) {
    .main section.page1 h1 {
        margin-bottom: 30px;
        font-size: 60px;
    }
    .main section.page1 h2 {
        font-size: 28px;
    }
    .main-menu {
        padding: 0 40px;
    }
    .page2__text h3, .page6__text h3 {
        font-size: 30px;
    }
    .page2__text, .page6__text {
        font-size: 18px;
    }
	.page7__text .awards span{
		font-size: 14px;
		text-align: center;
	}
	
    .main section.page2 .page2__material h2, .main section.page6 .page2__material h2 {
        font-size: 40px;
    }
    .main section.page2 .page2__material span, .main section.page6 .page2__material span {
        font-size: 30px;
    }
    .page2__variant {
        width: 142px;
        margin-right: -43px;
    }
    .main section.page3 {
        padding: 50px 10%;
    }
    .page__variants {
        margin: 30px;
    }
    .variant__name {
        font-size: 20px;
        margin-top: 20px;
    }
    .page__variant {
        width: calc((100% - 100px) / 3);
        margin-bottom: 20px;
        text-align: left;
    }
    .page__variant img {
        /* max-height: 180px; */
        width: auto;
    }
    .page5 {
        padding: 50px 80px 50px;
    }
    .page5 h2 {
        font-size: 45px;
        max-width: 1000px;
        /* padding-right: 9%; */
        font-weight: 600;
        margin-bottom: 50px;
    }
    .deadlines {
        max-width: 1000px;
    }
    .deadlines__item {
        width: 300px;
        height: 150px;
    }
    .deadlines__item:nth-child(2n) {
        width: 420px;
    }
    .deadlines__title {
        font-size: 50px;
        margin-top: -26px;
    }
    .deadlines__text {
        font-size: 20px;
        padding-bottom: 15px;
    }
    .deadlines__item img {
        height: 80px;
        width: auto;
    }
    .page2__variant_name {
        font-size: 20px;
    }
	.page7__text h3 {
		margin-bottom: 20px;
	}
	.page7__text p {
		padding: 0;
		font-size: 15px;
		margin-bottom: 10px;
	}
	.page7__text .title {
		text-align: center;
		font-size: 20px;
		width: 100%;
		margin: 35px auto;
	}
}

@media (max-width: 1370px) {
    .main section.page2 .page2__material h2, .main section.page6 .page2__material h2 {
        font-size: 36px;
    }
    .main section.page2 .page2__material span, .main section.page6 .page2__material span {
        font-size: 26px;
    }
	.page2__text, .page6__text {
		max-width: 400px;
	}
    .page2__material {
        padding: 40px 0px 40px 40px;
    }
	.page8__text h3, .main section.page3 h2 {
		font-size: 30px;
	}
	.page8__text p{
		font-size: 20px;
	}
	.page8__text__wrap iframe{
		max-height: 500px;
	}
	.page2__text p, .page6__text p {
		margin-bottom: 10px;
		font-size: 18px;
	}
}

@media (max-width: 992px) {
	.main section.page1 h1 {
		font-size: 45px;
		margin-bottom: 20px;
	}
	.main section.page1 h2 {
		font-size: 22px;
		padding-top: 12px;
	}
	.page2__material {
		display: none;
	}
	.page2__variants {
		width: 100%;
		height: 80px;
	}
	.page2__variant {
		margin: 0;
		min-width: calc(100%/8);
	}
	.page2__variant:first-child::before {
		clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);
	}
	.page2__variant_name {
		font-size: 18px;
	}
	.main section.page3 h2 {
		font-size: 45px;
	}
    .page5 {
        padding: 40px;
	}
	.page5 h2 {
		margin-bottom: 60px;
		width: 100%;
		padding-right: 40px;
	}
	.page1__sloy {
		width: auto;
		height: 100%;
	}
	.deadlines {
		padding: 40px;
		width: auto;
	}
	.deadlines__item:nth-child(2n) {
		width: 280px;
		padding-left: 60px;
		height: 150px;
		margin-left: 80px;
	}
	.deadlines__item {
		width: 230px;
		padding-left: 60px;
		height: 150px;
	}
	.deadlines__title {
		font-size: 37px;
		margin-top: -20px;
	}
	.deadlines__text {
		font-size: 20px;
		padding-bottom: 30px;
	}
	.deadlines__item img {
		height: 60px;
	}
	.page7__text p {
		text-align: center;
	}
	.page7__text {
		width: calc(100% - 120px);
		padding: 15px 0;
		margin: 0 auto;
	}
	.page7__text .awards {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.page7__text .awards img {
		width: calc((100%/6) - 30px);
		padding: 0;
	}
	.main section.page8 {
		flex-direction: column;
	}
	.page8__text__wrap,
	.page8__contacts {
		align-items: center;
		width: 100%;
		height: 50%;
    	padding: 0 60px;
	}
	.page8__text {
		padding-bottom: 15px;
	}
	.page8__text h3 {
		font-size: 45px;
		margin-bottom: 20px;
		text-align: center;
	}
	.page8__text p {
		text-align: center;
		font-size: 30px;
		margin-bottom: 10px;
	}
	.page8__text .btn {
		margin: 0 auto;
	}
	#map {
		height: calc(100% - 120px)!important;
		padding-top: 0!important;
	}
	.page8__text__wrap a:last-child {
		margin-left: 20px;
	}
}

@media only screen and (min-width: 320px) and (max-width: 769px) {
	.page7__text h3 {
		text-align: center;
		padding: 0;
	}
	.header__right{
		display: none;
	}
	.header__left{
		width: 100%;
	}
	.main section.page1 h1 {
		position: relative;
		z-index: 1;
		margin: 30px 0;
		font-size: 30px;
	}
	.main section.page1 h2 {
		position: relative;
		z-index: 1;
	}
	.bg__img img {
		width: auto;
		height: 100%;
	}
	.page1__sloy{
		display: none;
	}
	.page1__text::before {
		content: "";
		position: absolute;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #000;
		opacity: 0.5;
		z-index: 0;
	}
	.page2__bottom::before {
		background-color: transparent;
	}
	.page2__variants {
		width: 100%;
		height: 120px;
		align-items: center;
		justify-content: center;
	}
	.page2__variant {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 20px;
		width: 20px;
		min-width: auto;
		margin-left: 10px;
		font-size: 0;
		border: 1px solid #14eeb9;
		border-radius: 50%;
		padding: 3px;
	}
	.page2__variant_name {
		height: 100%;
		width: 100%;
		font-size: 0;
		border-radius: 50%;
		background-color: transparent;
		transition: all .3s linear;
	}
	.page2__variant.active .page2__variant_name {
		background-color: #14eeb9;
	}
	.page2__variant:first-child {
		margin-left: 0;
	}
	.page2__variant::before {
		display: none;
	}
	.main section.page3, .main section.page7  {
		display: none;
		min-height: 0;
		height: 0;
	}
	.deadlines__item {
		width: 100%!important;
		height: auto!important;
		margin: 0!important;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
		margin-bottom: 40px!important;
		background: none!important;
		padding-left: 80px!important;
	}
	.deadlines__item br {
		display: none;
	}
	.deadlines__item img {
		transform: translate(0, 0);
	}
	.deadlines__text {
		padding: 0;
		margin: 0;
	}
	.deadlines__title {
		margin: 0;
		line-height: 1;
		margin-bottom: 7px;
		font-size: 28px;
	}
	.deadlines {
		width: 420px;
		max-width: 100%;
		padding: 0 40px 20px 40px;
	}
	.page5 h2 {
		font-size: 36px;
		padding: 0;
		text-align: center;
		margin-bottom: 30px;
	}
	.page6__text,
	.page2__text {
		max-width: calc(100% - 40px);
		min-width: calc(100% - 40px);
		padding-left: 20px;
		margin-right: 40px;
	}
	.page7__text {
		padding: 30px;
		width: 100%;
		min-width: auto;
	}
	.page7__text h3 {
		font-size: 36px;
	}
	.page7__text .title {
		margin: 10px auto;
	}
	.page7,.page4 {
		padding: 30px 0;
	}
	.page8__text__wrap,
	.page8__contacts {
		padding: 0 40px!important;
	}
	.page8__text__wrap {
		display: none;
	}
	.page8__contacts{
	height: auto;
	padding: 38px 20px!important;
	display: flex;
	flex-direction: column;
	/* align-items: flex-end; */
	flex: auto;
	justify-content: center;
	}
}

@media (max-width: 480px) {
	.header {
		padding: 40px;
	}
	.header__logo {
		display: block;
		text-align: left;
	}
	.header__logo img {
		max-width: 100%;
	}
	.deadlines__item {
		margin-bottom: 20px!important;
	}
	.deadlines {
		padding-left: 0;
		padding-right: 0;
	}
	.callme-btn {
		font-size: 22px;
	}
	.page7__text .title ,
	.page7__text p {
		text-align: center;
		font-size: 14px;
	}
	.page7__text h3 {
		margin-bottom: 10px;
	}
	.page7__text .awards img {
		width: calc((100%/6) - 5px);
		padding: 0;
	}
	.page8__text p {
		font-size: 24px;
		line-height: 1;
	}
	.page2__text h3, .page6__text h3 {
		margin-bottom: 15px;
		font-size: 36px;
	}
	.page2__text p, .page6__text p {
		/* margin-bottom: 30px; */
		/* line-height: 1; */
	}
	.page2__text .last-text, .page6__text .last-text {
		margin-top: 15px!important;
	}
	.page6__text, .page2__text {
		padding-top: 10px;
		padding-bottom: 10px;
		margin-top: 10px;
	}
	.page5 h2 {
		font-size: 36px;
		margin-bottom: 15px;
	}
	.deadlines {
		padding-bottom: 0;
	}
	.deadlines__title {
		font-size: 22px;
	}
	.deadlines__text {
		font-size: 16px;
	}
	.page5 .callme-btn{
		font-size: 18px;
	}
	.page8__text h3 {
		font-size: 24px;
	}
	.page8__text {
		padding-bottom: 0;
	}
}

@media (max-width: 321px) {
	.page7__text {
		padding: 20px;
	}
	.page7__text .title, .page7__text p {
		line-height: 1.1;
		margin-bottom: 5px;
	}
}